h1
{
	color: #0B4C5F;
	text-align:center;
	padding-top:1em;
	height:2em;
	width: 22em;
	background-color:#A4A4A4;
	border:solid;
	border-radius:10px;
}

h2
{
	color:#0B4C5F;
	font-size:1em;
	padding-top:0.5em;
}

label
{
	font-size:.75em;
	color:#0B4C5F;

}

p 
{
	font-size:0.85em;
}

a
{
	color:#0B615E;
}


body
{
	background-image: url('/~ccit1585/cct460/assets/bird.png');
	background-size:125%;
	font-family:"helvetica";
}

#taggies
{
	font-size:0.65em;
	padding-left:3em;
	color:#086A87;
}

#titlebox1
{
	padding-right:3em;
}

#titlebox2
{
	padding-right:1.25em;
}

#titlebox3
{
}

#QC 
{
	font-weight: bold;

}


.postbox
{
	background-color:#81BEF7;
	border-style:solid;
	margin-left:2em;
	margin-bottom:2em;
	padding:0.5em;
	border-radius:15px;
	width:41em;

}

.linkbox
{
	text-align:center;
	padding-left:1.25em;
	padding-top:.75em;
	height:2em;
	width: 42em;
	border:solid;
	border-radius:10px;
}

.quickCreate
{
	background-color:#81BEF7;
	border-radius:15px;
	border:solid;
	margin-top:1em;
	margin-left:20em;
	margin-bottom:1em;
	padding-top:0.5em;
	padding-bottom:1em;
	padding-left:1em;
	width:22em;
}